@font-face {
    font-family: 'glitch';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/RubikGlitch-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

